body{
    background-color: #030A1E;
    overflow: hidden;
    background: linear-gradient(to top, #000327aa, #030a1e48), url(images/bg.jpeg) no-repeat bottom center;
    background-size: cover;
}

.splash-ship{
    position: fixed;
    bottom: 0%;
    z-index: 0;
    width: 50%;
    margin: auto;
    left: 0px;
    right: 0px;
    z-index: 3 !important;

}
.sink-ship{
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-name: sinking-ship;
    animation-duration: 5s;
}
@keyframes sinking-ship {
    0%{
        bottom:0%;
    }
    100%{
        bottom:-50%;
    }
}
.ship-start-animation{
    animation-name: ship-start !important;
    animation-duration: 2s !important;
    animation-iteration-count: 1 !important;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}
@keyframes ship-start {
    0%{
        /* transform:scale(1); */
        opacity: 1;
    }
    100%{
        /* transform:scale(3); */
        opacity: 0;
    }
}
#start-ship{
    animation-iteration-count: infinite;
    animation-name: arc-move-anim-1;
    animation-duration: 7s;
}
#title-text{
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: white;
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 3;
    text-shadow: 2px 2px 4px #000000;
}

#ufo{
    position: fixed;
    top: -20%;
    left: 40%;
    width: 300px;
    height: 150px;
    background-image: url('images/ufo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#ufo_damage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
.ufo_destroyed{
   animation-name: bossEnd;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes bossEnd {
    0% {
		transform: scale(1) rotate(0);
	}
	100% {
		transform: scale(0) rotate(720deg);
	}
}

#ufo.intro_1{
    animation-name: ufoAnim_1_intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#ufo.idle_1{
    animation-name: ufoAnim_1_idle;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards
}
@keyframes ufoAnim_1_intro {
    0%{
        top:-20%;
        left:40%;
    }
    100%{
        top:25%;
        left:68%;
    }
}

/* top 25 to 10, crosshair is 18 */
@keyframes ufoAnim_1_idle {
    0%{
        top:25%;
        left:68%;
    }
    10%{
        top:15%;
        left:82%;
    }
    15%{
        top:25%;
        left:20%;
    }
    25%{
        top:12%;
        left:30%;
    }
    35%{
        top:15%;
        left:15%;
    }
    45%{
        top:18%;
        left:68%;
    }
    55%{
        top:22%;
        left:82%;
    }
    65%{
        top:18%;
        left:70%;
    }
    75%{
        top:25%;
        left:89%;
    }
    85%{
        top:10%;
        left:42%;
    }
    95%{
        top:22%;
        left:50%;
    }
    100%{
        top:25%;
        left:68%;
    }
}


#ufo_damage.ufo_hit{
    animation: ufoAnim_hit 0.5s 1 forwards !important;
    /* animation-name: ufoAnim_hit;
    animation-duration: 0.5s; */
}
@keyframes ufoAnim_hit {
    0%{
        filter: none;
    }
    50%{
        filter: invert(14%) sepia(45%) saturate(7441%) hue-rotate(0deg) brightness(77%) contrast(119%);
    }
    100%{
        filter: none;
    }
}

#ufo #laser_charge{
    position: relative;
    bottom: -67px;
    left: 99px;
    background-image: url(images/laser-charge.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    opacity: 0;
}
#ufo #laser_charge.charging{
    animation-name: ufoAnim_laser_charge;
    animation-duration: 3s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}
@keyframes ufoAnim_laser_charge {
    0%{
        transform: scale(1);
        opacity: 0;
    }
    100%{
        transform: scale(3);
        opacity: 1;
    }
}
#ufo #laser_right{
    position: relative;
    bottom: -14px;
    left: 149px;
    background-image: url(images/laser-right.png);
    width: 542px;
    height: 560px;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top left;
    display: none;
}
#ufo #laser_right.fire{
    animation-name: ufoAnim_laser_fir_right;
    animation-duration: 0.3s;
    animation-timing-function:ease-out;
}
@keyframes ufoAnim_laser_fir_right {
    0%{
        transform: scale(0);
        bottom: -14px;
        left: 149px;
        display: block;
    }
    100%{
        transform: scale(1);
        bottom: -12px;
        left: 146px;
        display: block;
    }
}
#ufo #laser_center{
    position: relative;
    bottom: -11px;
    left: 126px;
    background-image: url(images/laser-front.png);
    width: 59px;
    height: 560px;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top center;
    display: none;
}
#ufo #laser_center.fire{
    animation-name: ufoAnim_laser_fir_center;
    animation-duration: 0.3s;
    animation-timing-function:ease-out;
}
@keyframes ufoAnim_laser_fir_center {
    0%{
        transform: scale(0);
        bottom: -11px;
        left: 121px;
    }
    100%{
        transform: scale(1);
        bottom: -11px;
        left: 126px;
    }
}
#ufo #laser_left{
    position: relative;
    bottom: -11px;
    left: -383px;
    background-image: url(images/laser-left.png);
    width: 542px;
    height: 560px;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top right;
    display: none;
}
#ufo #laser_left.fire{
    animation-name: ufoAnim_laser_fir_left;
    animation-duration: 0.3s;
    animation-timing-function:ease-out;
}
@keyframes ufoAnim_laser_fir_left {
    0%{
        transform: scale(0);
        bottom: -16px;
        left: -391px;
        display: block;
    }
    100%{
        transform: scale(1);
        bottom: -11px;
        left: -383px;
        display: block;
    }
}



#ship{
    position: fixed;
    bottom: -48%;
    z-index: 999;
    width: 100%;
    left: 20px;
    container: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

    animation-iteration-count: infinite;
    animation-name: ship;
    animation-duration: 40s;
}
.ship_part{
    /* background-size: contain;
    background-repeat: no-repeat;
    float: left;
    background-position: bottom; */
    max-width: 53%;
}

#page-startup{
    position: relative;
    z-index: 999;
    background-color: white;
}
.wave{
    position: fixed;
    left:-100px;
    width: 150%;
    background-position: bottom;
    background-size: contain;
    height:200px;
    /* animation */
    animation-iteration-count: infinite;
    animation-name: arc-move-anim-1;
    background-size: 160px;
    background-repeat:no-repeat;
    background-repeat:repeat-x;
}
.paused {
    animation-play-state: paused;
}
#wave_0{
    background-image: url('images/wave_0.png');
    animation-duration: 4s;
    bottom:-70px;
    z-index: 5;
}
#wave_1{
    background-image: url('images/wave_1.png');
    animation-duration: 8s;
    bottom: -78px;
    height: 320px;
    left: -180px;
    z-index: 4;
    
}
#wave_2{
    background-image: url('images/wave_2.png');
    animation-duration: 4s;
    animation-delay: 1s;
    bottom: -20px;
    height: 350px;
    left: -95px;
    /*set so that it doesn't jump after the dealy */
    transform: rotate(0deg) translateX(-50px) rotate(0deg) translateX(0px);
    z-index: 2;
}
#wave_3{
    background-image: url('images/wave_3.png');
    animation-duration: 10s;
    bottom:70px;
    left: -150px;
    z-index: 1;
}

.tentical{
    background-size: contain;
    animation-iteration-count: infinite;
    animation-name: tenticalMove;
}
.tentical.debug{
    border: solid 5px #ddfb00;
}
.tentical_intro{
    animation-name: tenticalIntro;
    animation-duration: 2s;
    position:fixed;
    bottom:0px;
}
.death{
    animation-name: tenticalDie;
    animation-duration: 2s;
    bottom:-800px;
}
.t_0{
    width: 389px;
    height: 506px;
    background-image: url('images/tentical_0.png');
    animation-duration: 3s;
}
.t_1{
    width: 327px;
    height:656px;
    background-image: url('images/tentical_1.png');
    animation-duration: 3s;
}
.t_2{
    width: 309px;
    height: 666px;
    background-image: url('images/tentical_2.png');   
    animation-duration: 3s;
}
.t_3{
    width: 464px;
    height: 598px;
    background-image: url('images/tentical_3.png');
    animation-duration: 3s;
}
.t_4{
    width: 341px;
    height: 656px;
    background-image: url('images/tentical_4.png');
    animation-duration: 3s;
}
.t_5{
    width: 293px;
    height:656px;
    background-image: url('images/tentical_5.png');
    animation-duration: 3s;
}
#boss_intro{
    animation-name: bossIntro;
    animation-duration: 2s;
    bottom: -30%;
    position: fixed;
    width: 400px;
    height: 70%;
    margin: auto;
    left: 0;
    right: 0;
}
#boss_intro.boss_hit{
    animation-name: bossHit;
    animation-duration: 2s;
    bottom: -100%;
}
#boss_intro.boss_end{
    animation-name: bossEnd;
    animation-duration: 4s;
    bottom: -30%;
}
#boss{
    background-image: url('images/boss.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: bossMove;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    height: 100%;
    width: 400px;
    /* height: 100%; */
    height: inherit;
    margin: auto;
}
#boss.debug{
    border: solid 5px #7dfb00;
}
#crosshairs{
    width:150px;
    height:150px;
    position:fixed;
    left:0%;
    top:0%;
    background-image:url('images/crosshairs.png');
    background-size: contain;
    /* transition: left 0.3s, top 0.3s; */
}
#crosshairs.auto{
    animation-name: crosshairsAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.cannonball{
    width:400px;
    height:400px;
    background-image: url('images/cannonball.png');
    background-size: contain;
    position: absolute;
    animation-name: cannonballAnim;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}
.cannonball.debug{
    border: solid 5px #ddfb00;
}
#debug_red{
    top:0px;
    left:0px;
    position:fixed;
    background-color: #ff00002b;
    border:solid 1px #FF0000;
}
#debug_green{
    top:0px;
    left:0px;
    position:fixed;
    background-color: #00ff00bd;
    border:solid 1px #00ff00;
}
#debug_blue{
    top:0px;
    left:0px;
    position:fixed;
    background-color: #fb00ff3e;
    border:solid 1px #0000ff;
}

@keyframes cannonballAnim {
    0%{
        transform: scale(1) translateY(0px);
    }
    100%{
        transform: scale(0.15) translateY(-400px);
    }
}

@keyframes crosshairsAnim {
    /* top, left */
    0%{
        top:18%;
        left:2%;
    }
    /* middle, middle */
    50%{
        top:18%;
        left:90%;
    }
    /* top, left */
    100%{
        top:18%;
        left:2%;
    }
}
@keyframes bossIntro {
    0% {
		bottom: -100%;
	}
	100% {
		bottom: -30%;
	}
}

@keyframes bossHit {
    0%{
        filter: none;
        bottom: -30%;
    }
    10%{
        filter: invert(14%) sepia(45%) saturate(7441%) hue-rotate(0deg) brightness(77%) contrast(119%);
        bottom: 10%;
    }
    20%{
        filter: none;
        bottom: 0%;
    }
    30%{
        filter: invert(14%) sepia(45%) saturate(7441%) hue-rotate(0deg) brightness(77%) contrast(119%);
        bottom: 0%;
    }
    40% {
        filter: none;
	}
	100% {
		bottom: -100%;
	}
}
@keyframes bossMove {
    0%{
        transform: scaleY(1) translateY(0px);
    }
    50%{
        transform: scaleY(0.95) translateY(-50px);
    }
    100%{
        transform: scale(1) translateY(0px);
    }
}
@keyframes tenticalMove {
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0.9);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes tenticalDie {
    0% {
		bottom: 0px;
	}
	100% {
		bottom: -800px;
	}
}
@keyframes tenticalIntro {
    0% {
		bottom: -500px;
	}
	100% {
		bottom: 0px;
	}
}
@keyframes arc-move-anim-1 {
	0% {
		transform: rotate(0deg) translateX(-50px) rotate(0deg) translateX(0px);
	}
	100% {
		transform: rotate(180deg) translateX(-50px) rotate(-180deg) translateX(-100px);
	}
}

 @keyframes ship {
	0% {
		transform: translateX(-40px) translateY(-20px) rotate(-1deg);
	}
	20% {
		transform:translateX(80px) translateY(0px) rotate(-3deg);
	}
    40% {
		transform: translateX(-80px) translateY(-20px) rotate(-2deg);
	}
    60% {
        transform: translateX(80px) translateY(0px) rotate(0deg);
    }
    80% {
        transform: translateX(-80px) translateY(-30px) rotate(-3deg);
    }
    100% {
        transform: translateX(-40px) translateY(-20px) rotate(-1deg);
    }
}
@keyframes example {
    0%   {left:0px; bottom:-50px;}
    25%  {left:-200px; bottom:0px;}
    50%  {left:-200px; bottom:0px;}
    75%  {left:0px; bottom:0px;}
    100% {left:0px; bottom:-50px;}
  }

.hidden{
    display: none !important;
}


/* @keyframes ufoAnim_1_idle {
    0%{
        top:25%;
        left:68%;
    }
    33%{
        top:20%;
        left:60%;
    }
    66%{
        top:15%;
        left:75%;
    }
    100%{
        top:25%;
        left:68%;
    }
} */